@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  background: #232323;
  color: rgba(255, 255, 255, 0.87);
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 200ms;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  height: 230px;
  width: 200px;
  margin: 10px;
}
.card:hover {
  --translate-y: -2px;
  opacity: 1;
}
.card.flip {
  --rotate-y: 180deg;
}
.card .front {
  background-color: rgb(116, 165, 228);
  left: 0;
}
.card .back {
  transform: rotateY(180deg);
  position: relative;
  background-color: rgb(63, 97, 141);
  overflow: hidden;
}
.card .front,
.card .back {
  border-radius: 0.35rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  backface-visibility: hidden;
}
/* padding fix for overflowing text on backside of card */
.card .back::after,
.card .back::before {
  content: " ";
  display: block;
  background-color: rgb(63, 97, 141);
  height: 1rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.card .back::after {
  top: 0;
}
.card .back::before {
  bottom: 0;
}
